{
	"presets": [
		"@babel/env",
    	"@babel/react"
    ],
    "plugins": [
		"@babel/plugin-syntax-dynamic-import", 
		"transform-class-properties",
		["@babel/plugin-proposal-decorators",{"legacy": true}]
	]
}
