// colors
$blue: #7289da;
$green: #00c851;
$darkblue: #0f0c15;
$white: #fff;
$black: #343841;
$red1: #c52233;
$red2: rgba(165, 28, 48, 1);
$red3: rgba(167, 51, 63, 1);
$grey: rgba(220, 224, 217, 1);

$primary: $black;
$secondary: $red1;
// shadows
$shadow: 0 20px 60px rgba(0, 0, 0, 0.13);
$shadow-big: 0 2rem 6rem rgba(0, 0, 0, 0.13);
$shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$shadow-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$shadow-4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$shadow-5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

// sizing
$br: 10px;
$navbar-height: 5rem;
$page-pad: $navbar-height + 2rem;
// breakpoints
$bp1: 760px;

// export to js imports
:export {
	blue: $blue;
	green: $green;
	darkblue: $darkblue;
	white: $white;
	black: $black;
	red1: $red1;
	red2: $red2;
	red3: $red3;
	grey: $grey;
	primary: $primary;
	secondary: $secondary
}
